<header class="site-header">
  <div style="display:flex;flex-direction:row;">
    <img src="/assets/trivium_64x64.png" style="margin-left:15px;margin-right:5px;width:48px;height:48px;">
    <div style="display:flex;align-items:center;justify-content:center;font-family:Courier New;font-weight:600;font-size:1.2em;">{{ site.title }}</div>
    <div style="display:flex;align-items:center;justify-content:center;font-family:Courier New;font-size:1.2em;">&nbsp;-&nbsp;{{ page.title }}</div>
  </div>
</header>
